div.bbp-template-notice, 
div.indicator-hint {
    margin: 0px 0px 30px 0px;
}
#subscription-toggle {
    float: right;
}
#bbpress-forums div.bbp-breadcrumb p, #bbpress-forums div.bbp-topic-tags p {
    margin-bottom: 30px;
}
#bbpress-forums fieldset.bbp-form legend {
    font-weight: bold;
}
.wp-editor-wrap {
    border: 1px solid #eeeeee;
}
.bbp-breadcrumb-sep {
    padding: 0px 5px;
}
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input[type="text"] {
    margin-bottom: 20px;
}
#bbpress-forums input[type="text"] {
    margin-bottom: 0px !important;
    width: 50%;
}
#bbp_topic_submit,
#bbp_search_submit,
#bbpress-forums fieldset.bbp-form,
div.bbp-submit-wrapper,
#bbpress-forums #bbp-your-profile fieldset.submit button {
    margin: 0px 0px 20px 0px;
}
#bbp-user-avatar .vcard,
.vcard.bbp-user-profile-link {
    width: auto;
    float: none;
}
.bbp-submit-wrapper .button.submit {
    margin-right: 0px !important;
}
#bbpress-forums div.odd, #bbpress-forums ul.odd {
    background: transparent;
}
#bbpress-forums li.bbp-header {
    border-top: none;
}
#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
    padding: 20px;
}
#bbpress-forums li.bbp-header, 
#bbpress-forums li.bbp-footer {
    padding: 10px 20px;
}

a.bbp-forum-title,
.bbp-topic-title a.bbp-topic-permalink,
#bbpress-forums fieldset.bbp-form label  {
    font-size: 13px !important;
}

#bbpress-forums div.bbp-reply-header {
    background: none;
}
#bbpress-forums div.reply {
    font-size: inherit;
    font-style: inherit;
}
#bbpress-forums .topic .bbp-topic-meta .bbp-author-avatar,
#bbpress-forums .topic .bbp-topic-meta .avatar,
.bbp-topic-freshness-author .avatar {
    display: none;
}
#bbpress-forums .topic .bbp-topic-meta a {
    color: inherit;
}
div.bbp-reply-header {
    padding: 15px 15px 0 25px;
}
li.bbp-body div.hentry {
    padding-top: 0;
}
.bbp-pagination-count {
    font-weight: bold;
}
/*body.bbpress {
    -webkit-font-smoothing: subpixel-antialiased;
}
body.bbpress h1,
body.bbpress h2,
body.bbpress h3,
body.bbpress h4,
body.bbpress h5,
body.bbpress h6 {
    -webkit-font-smoothing: antialiased;
}*/
div.bbp-template-notice p {
    padding: 20px;
}
div.bbp-template-notice.info {
    border: none;
    background-color: #E6F5F8;
    border-radius: 0;
}
div.bbp-template-notice, div.indicator-hint {
    background-color: #FAEFD3;
    border: none;
    border-radius: 0;
}
#bbpress-forums .wp-editor-container .button {
    font:inherit !important;
    text-transform: none !important;
    letter-spacing: 0;
}