<!-- additional pages -->
<div class="space-section">
<a class="sidebar-pad" href="{{ "/" | absolute_url }}">{{ site.title_home | default: site.github.repository_name }}</a>
{% assign sorted = site.html_pages | sort:"rank" %}
{% for item in sorted %}
    {% if item.path != "index.md" and item.title and item.rank %}
        <a class="sidebar-pad" href="{{ item.path | replace:'.md','.html' }}">{{ item.title }}</a>
        <!-- <span> [ {{ item.path }} - {{ item.title }} - {{ item.rank }} ] </span> -->
    {% endif %}
{% endfor %}
</div>
<!-- end additional pages -->