<section>
    <h1 class="title_section">{{site.citation_title}}</h1>
    <div class="BibTex">
        <pre>
            <code data-prismjs-copy="copy"> 
                @misc{bavle2022situational,
                    <br>
                    <span class="tab">title={Situational</span> Graphs for Robot Navigation <span class="hljs-keyword">in</span> Structured Indoor Environments},
                    <br>
                    <span class="tab">author={Hriday</span> Bavle <span class="hljs-literal">and</span> Jose Luis Sanchez-Lopez <span class="hljs-literal">and</span> Muhammad Shaheer <span class="hljs-literal">and</span> Javier Civera <span class="hljs-literal">and</span> Holger Voos},
                    <br>
                    <span class="tab">year={2022},</span>
                    <br>
                    <span class="tab">eprint={2202.12197},</span>
                    <br>
                    <span class="tab">archivePrefix={arXiv},</span>
                    <br>
                    <span class="tab">primaryClass={cs.RO}</span>
                }
            </code>
        </pre>
    </div>
</section>
