<h1 class="title">{{site.citation_title}}</h1>
<div class="box">
<pre>
    <code data-prismjs-copy="copy"> 
@misc{bavle2022situational,
    <span class="hljs-attr">title={Situational</span> Graphs for Robot Navigation <span class="hljs-keyword">in</span> Structured Indoor Environments},
    <span class="hljs-attr">author={Hriday</span> Bavle <span class="hljs-literal">and</span> Jose Luis Sanchez-Lopez <span class="hljs-literal">and</span> Muhammad Shaheer <span class="hljs-literal">and</span> Javier Civera <span class="hljs-literal">and</span> Holger Voos},
    <span class="hljs-attr">year={2022},</span>
    <span class="hljs-attr">eprint={2202.12197},</span>
    <span class="hljs-attr">archivePrefix={arXiv},</span>
    <span class="hljs-attr">primaryClass={cs.RO}</span>
}
    </code>
</pre>
</div>