<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title}}</title>
<meta name="description" content="{{site.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/uniLU.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/uniLU.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/uniLU.png" | prepend: site.baseurl }}">
<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

<link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

<script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
