<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.github_username != null %}
  <a class="social-link" aria-label="GitHub" target="_blank" rel="noreferrer"
    href="https://github.com/{{site.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
</div>
