  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    src: url("custom-fonts/Inter-Light.otf") format("otf");
    src: url("custom-fonts/Inter-Light.eot?#iefix") format('embedded-opentype'),
         url("custom-fonts/Inter-Light.woff2") format("woff2"),
         url("custom-fonts/Inter-Light.woff") format("woff"),
         url("custom-fonts/Inter-Light.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url("custom-fonts/Inter-Regular.otf") format("otf");
    src: url("custom-fonts/Inter-Regular.eot?#iefix") format('embedded-opentype'),
         url("custom-fonts/Inter-Regular.woff2") format("woff2"),
         url("custom-fonts/Inter-Regular.woff") format("woff"),
         url("custom-fonts/Inter-Regular.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url("custom-fonts/Inter-Medium.otf") format("otf");
    src: url("custom-fonts/Inter-Medium.eot?#iefix") format('embedded-opentype'),
         url("custom-fonts/Inter-Medium.woff2") format("woff2"),
         url("custom-fonts/Inter-Medium.woff") format("woff"),
         url("custom-fonts/Inter-Medium.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    src: url("custom-fonts/Inter-SemiBold.otf") format("otf");
    src: url("custom-fonts/Inter-SemiBold.eot?#iefix") format('embedded-opentype'),
         url("custom-fonts/Inter-SemiBold.woff2") format("woff2"),
         url("custom-fonts/Inter-SemiBold.woff") format("woff"),
         url("custom-fonts/Inter-SemiBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url("custom-fonts/Inter-Bold.otf") format("otf");
    src: url("custom-fonts/Inter-Bold.eot?#iefix") format('embedded-opentype'),
         url("custom-fonts/Inter-Bold.woff2") format("woff2"),
         url("custom-fonts/Inter-Bold.woff") format("woff"),
         url("custom-fonts/Inter-Bold.ttf") format('truetype');
  }