/************************************************
 Header Controls
 ************************************************/
 
	/*Header Controls - Float Right*/
.style1 #header-controls-right,
.style5 #header-controls-right {
	float: right;
	margin-right: 30px;
}
.style5 .be-wrap #header-controls-right {
	margin-right : 0;
}
.layout-border-header-top .style1 #header-controls-right {
	margin-right: 0px;
}
.style1 .be-wrap #header-controls-right {
    margin-right: 0;
    margin-left: 15px;
}
.style4 #header-controls-right{
	float: right;
	margin-right: 30px;
}
.style4 .be-wrap #header-controls-right {
	margin-right : 0;
}

	/*Header Controls - Absolute Position*/

.style2 #header-controls-right{
	position: absolute;
	right: 30px;
	top: 0;
}
.style2 .be-wrap #header-controls-right {
	right : 0;
}
.style2 #header-controls-left{
	position: absolute;
	left: 30px;
	top: 0;
}
.style2 .be-wrap #header-controls-left {
	left : 0;
}
.style3 #header-controls-right{
	position: absolute;
	right: 30px;
	top: 0;
}
.style3 .be-wrap #header-controls-right {
	right : 0;
}
.layout-border-header-top .style3 #header-controls-right {
	right: 0px;
}

.style6 #header-controls-right {
	margin-right: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}
.style6 .be-wrap #header-controls-right {
	margin-right: 0;
}

/************************************************
 Navigation
 ************************************************/

/*Navigation - Float Right*/

.style1 #navigation {
    float: right;
    margin-right: 30px;
}
.style1 .be-wrap #navigation {
    margin-right: 0px;
}
	/*Navigation - Float Left*/

.style4 #navigation, 
.style5 #navigation {
	float: left;
	position: static;
	margin-left: 30px;
}
.style5 .be-wrap #navigation {
	margin-left : 0;	
}
.style5 #menu > li:first-child > a {
	padding-left: 0;
}

	/*Navigation - Center Align*/

.style3 .menu{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.style2 .menu{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.style3 #navigation{
	text-align: center;
}
.style2 #navigation{
	text-align: center;
}

.style2 #navigation {
	line-height: 50px;
}
.style6 #navigation-left-side,
.style6 #navigation-right-side {
	position: absolute;
	top: 0px;
	width: 50%;
	left: 0px;
	box-sizing: border-box;
}
.style6 #navigation-right-side {
	left: auto;
	right: 0px;
	padding-right: 0px;
}
.style6 #navigation-left-side #left-menu {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	float: right;
}

/************************************************
 Top Menu New Styles
 ************************************************/

	/*Style 7*/

/*Navigation - Float Right*/
.style7 #navigation {
	display: none;
}

.menu-animate-fall .style7 #navigation {
	display: block;
	float: right;
	margin-right: 30px;
}
	/*Logo - Float Left*/

.style7 .logo {
    padding:20px 0;	/*opt-logo-padding*/
    float: left;
	position: relative;
}
.style7 #header-wrap:not( .be-wrap ) .logo {
	margin-left: 30px;
}
.layout-border-header-top .style7 .logo {
	margin-left: 0px;
}
.style7 #header-controls-left {
	float: left;
    position: relative;
    top: 0;
}

.style7 #header-controls-right{
	float: right;
}
.layout-border-header-top .style7 #header-controls-right {
	margin-right: 0px;
}
.hamburger-nav-controller-wrap{
	display: inline-block;
}
.style7 .hamburger-nav-controller-wrap{
	margin-left: 15px;
}
.style7 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style7 #header-controls-right > *:first-child {
	margin-left: 0;
}
.style7 .be-wrap .logo,
.style7 .be-wrap #header-controls-left {
	margin-right: 30px;
	margin-left : 0;
}
.style7 .be-wrap #header-controls-right {
	margin-right: 0px;
}
.style7 .logo,
.style7 #header-controls-left {
	margin-left : 30px;
}
.style7 #header-controls-right {
	margin-right : 30px;
}

	/*Style 8*/

/*Navigation - Float Right*/
.style8 #navigation {
	display: none;
}

	/*Logo - Float Left*/

.style8 .logo {
	text-align: center;
}

.style8 .logo a{
	display: inline-block;
    vertical-align: middle;
}

.layout-border-header-top .style8 .logo {
	margin-left: 0px;
}

.style8 #header-controls-left {
    position: absolute;
	top: 0;
	left : 30px;
}

.style8 #header-controls-right{
	position: absolute;
	top: 0;
	right: 30px;
}
.layout-border-header-top .style8 #header-controls-right {
	margin-right: 0px;
}
.style8 .be-wrap #header-controls-right {
    right: 0;
    margin-left: 15px;
}
.style8 .be-wrap #header-controls-left {
	left : 0px;
}
.style8 .hamburger-nav-controller-wrap{
	margin-left: 15px;
}
.style8 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style8 #header-controls-right > *:first-child {
	margin-left: 0;
}

	/*Style 9*/

/*Navigation - Float Right*/
.style9 #header-wrap{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
		align-items: center;
	justify-content: flex-end;
}

.style9 #navigation {
	display: none;
}

	/*Logo - Float Left*/

.style9 .logo {
    padding:20px 0;	/*opt-logo-padding*/
	position: relative;
}
.layout-border-header-top .style9 .logo {
	margin-left: 0px;
}

.style9 #header-controls-left {
	-ms-flex-positive: 1;
	    flex-grow: 1;
    position: relative;
	top: 0;
	margin-left : 30px;
}

.style9 #header-controls-right{
	margin-left: 30px;
	margin-right : 30px;
}
.layout-border-header-top .style9 #header-controls-right {
	margin-right: 0px;
}
.style9 .be-wrap #header-controls-right {
    margin-right: 0;
}

.style9 .hamburger-nav-controller-wrap{
	margin-left: 15px;
}
.style9 .be-wrap #header-controls-left {
	margin-left : 0;
}
.style9 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style9 #header-controls-right > *:first-child {
	margin-left: 0;
}
	/*Style 10*/

/*Navigation - Float Right*/
.style10 #navigation {
	display: none;
}

	/*Logo - Float Left*/

.style10 .logo {
    margin-left: 30px;
    padding:20px 0;	/*opt-logo-padding*/
    float: left;
	position: relative;
}
.layout-border-header-top .style10 .logo {
	margin-left: 0px;
}

.style10 #header-controls-left {
	float: left;
    position: relative;
	top: 0;
	margin-left: 30px;
}

.style10 #header-controls-right{
	float: right;
	margin-right: 30px;
}
.layout-border-header-top .style10 #header-controls-right {
	margin-right: 0px;
}
.style10 .be-wrap #header-controls-right {
    margin-right: 0;
    margin-left: 15px;
}
.style10 .be-wrap #header-controls-left {
	margin-left : 0px;
}
.style10 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style10 #header-controls-right > *:first-child {
	margin-left: 0;
}

	/*Style 11*/

/*Navigation - Float Right*/
.style11 #navigation {
	display: none;
}

	/*Logo - Float Left*/

.style11 .logo {
	text-align: center;
}

.style11 .logo a{
	display: inline-block;
    vertical-align: middle;
}

.layout-border-header-top .style11 .logo {
	margin-left: 0px;
}

.style11 #header-controls-left {
	float: left;
    position: absolute;
	top: 0;
	left : 30px;
}

.style11 #header-controls-right{
	position: absolute;
	top: 0;
	right: 30px;
}
.layout-border-header-top .style11 #header-controls-right {
	margin-right: 0px;
}
.style11 .be-wrap #header-controls-right {
    right: 0;
    margin-left: 15px;
}
.style11 .be-wrap #header-controls-left {
	left : 0;
}
.style11 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style11 #header-controls-right > *:first-child {
	margin-left: 0;
}


	/*Style 12*/
.style12 #header-wrap{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}

/*Navigation - Float Right*/
.style12 #navigation {
	display: none;
}

	/*Logo - Float Left*/

.style12 .logo {
	text-align: center;
	margin-right: 30px;
	margin-left : 30px;
	position: relative;
	order : 1;
}

.style12 .logo a{
	display: inline-block;
    vertical-align: middle;
}

.layout-border-header-top .style12 .logo {
	margin-left: 0px;
}

.style12 #header-controls-left {
	-ms-flex-positive: 1;
	    flex-grow: 1;
    position: relative;
	top: 0;
	margin-left : 30px;
}

.style12 #header-controls-right{
	position: relative;
	top: 0;
	right: 0;
}
.layout-border-header-top .style12 #header-controls-right {
	margin-right: 0px;
}
.style12 .be-wrap #header-controls-left {
	margin-left : 0;
}
.style12 .be-wrap .logo {
	margin-right : 0;
}
.style12 #header-controls-left > *:last-child{
	margin-right: 0;
}
.style12 #header-controls-right > *:first-child {
	margin-left: 0;
}

	/*Style 13*/
.style13 #header-wrap{
	position: relative;
}

.style13 .logo {
	text-align: center;
}
.style13 .logo a{
	display: inline-block;
	vertical-align: middle;
}

.style13 #header-controls-right{
	position: absolute;
	right: 30px;
	top: 0;
}

.style13 #header-controls-left{
	position: absolute;
	left: 30px;
	top: 0;
}

.style13 .menu{
	float: none;
	display: inline-block;
	vertical-align: top;
}

.style13 #navigation{
	text-align: center;
}

.style13 #navigation {
	line-height: 50px;
}

.style13.top-animate #header-wrap{
	display: none;
}

/*******************************
		MEGAMENU
*******************************/
#navigation .menu > ul > li.mega,
#navigation-left-side .menu > ul > li.mega,
#navigation-right-side .menu > ul > li.mega {
	position: inherit !important;	
}
.style4 #navigation .menu > ul > li.mega,
.style1 #navigation .menu > ul > li.mega,
.style5 #navigation .menu > ul > li.mega, {
	position: relative;
}
#navigation .menu > ul > li.mega > ul.sub-menu {
	width: 1160px;	
	left: 50%;
	margin-left: -580px;
	padding: 20px 0px;
	margin-top: 0px;
}
.style4 #navigation .menu > ul > li.mega > ul.sub-menu,
.style5 #navigation .menu > ul > li.mega > ul.sub-menu {
	left:0;
	margin-left: 0;
}

.style1 #navigation .menu > ul > li.mega > ul.sub-menu {
	right:0;
	left: auto;
	margin-left: 0;
}
#navigation-left-side .menu > ul > li.mega > ul.sub-menu,
#navigation-right-side .menu > ul > li.mega > ul.sub-menu{
	width: 580px;	
	left: 50%;
	margin-left: -290px;
	padding: 20px 0px;
	margin-top: 0px;
}
#navigation .menu > ul > li.mega > ul.sub-menu a,
#navigation-left-side .menu > ul > li.mega > ul.sub-menu a,
#navigation-right-side .menu > ul > li.mega > ul.sub-menu a {
	padding: 5px 20px 5px 20px;
	-webkit-font-smoothing: antialiased !important;
}
#navigation .menu > ul > li.mega > ul > li,
#navigation-left-side .menu > ul > li.mega > ul > li,
#navigation-right-side .menu > ul > li.mega > ul > li {
	display: table-cell !important;
	float: none;
	padding: 0px;
	width: 300px;
	border-right: 1px solid;
}
#navigation .menu > ul > li.mega > ul > li:last-child,
#navigation-left-side .menu > ul > li.mega > ul > li:last-child,
#navigation-right-side .menu > ul > li.mega > ul > li:last-child {
	border-right: none;
}
#navigation .menu > ul > li.mega.columns-2 > ul > li,
#navigation-left-side .menu > ul > li.mega.columns-2 > ul > li,
#navigation-right-side .menu > ul > li.mega.columns-2 > ul > li { 
		width: 580px; 
}
#navigation .menu > ul > li.mega.columns-3 > ul > li,
#navigation-left-side .menu > ul > li.mega.columns-3 > ul > li,
#navigation-right-side .menu > ul > li.mega.columns-3 > ul > li { 
		width: 386px; 
}
#navigation .menu > ul > li.mega.columns-4 > ul > li,
#navigation-left-side .menu > ul > li.mega.columns-4 > ul > li,
#navigation-right-side .menu > ul > li.mega.columns-4 > ul > li { 
		width: 290px; 
}
#navigation .menu > ul > li.mega.columns-5 > ul > li,
#navigation-left-side .menu > ul > li.mega.columns-5 > ul > li,
#navigation-right-side .menu > ul > li.mega.columns-5 > ul > li { 
		width: 232px; 
}
#navigation .menu > ul > li.mega > ul > li ul,
#navigation-left-side .menu > ul > li.mega > ul > li ul,
#navigation-right-side .menu > ul > li.mega > ul > li ul {
	display: block !important;
	width: 100%;
	left: 0px !important;
	top: 0px !important;
	opacity: 1 !important;
	position: relative !important;
	background: none;
	margin-top: -1px;
}
#navigation .mega .sub-menu .highlight .sf-with-ul,
#navigation-left-side .mega .sub-menu .highlight .sf-with-ul,
#navigation-right-side .mega .sub-menu .highlight .sf-with-ul, {
	padding-bottom: 10px !important;
	line-height: 1.5 !important;
} 

body.header-transparent #navigation .sub-menu {
	top: 100%;
}
body.header-transparent #navigation .sub-menu .sub-menu {
	top: 0px;
}

@media only screen and (max-width: 960px) {
	#header-inner-wrap.stuck {
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	body.admin-bar #header-inner-wrap.stuck {
		top: 0px !important;
	}
	.sticky-wrapper {
		height: auto !important;
	}
	.header-contact-wrap {
		padding-top: 5px;
	}
	.header-contact-wrap,#header-top-menu {
		line-height: 25px !important;
	}
	.header-contact-wrap .be-wrap div.left, .header-contact-wrap .be-wrap div.right {
		margin-bottom: 5px;
	}
	body.header-transparent #header #header-inner-wrap.no-transparent {
		position: absolute;
		left: auto;
		right: auto;
	}
	body.sticky-header #header #header-inner-wrap.no-transparent {
		position: relative;
		left: auto;
		right: auto;
		top: 0px !important;
	}
	body.header-transparent.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate, 
	body.sticky-header.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
		top: 0px !important;
	}
	.mobile-nav-controller-wrap {
		display: inline-block;
	}
	.top-overlay-menu .mobile-nav-controller-wrap {
		display: none;
	}
	.menu-falling-animate-controller {
		display: none;
	}
	#header-controls-right .header-widgets, 
	#header-controls-right .header-search-controls,
	#header-controls-right .header-cart-controls,
	#header-controls-right .sliderbar-menu-controller {
		margin-left: 20px;
	}
	#header-top-bar-right .top-bar-widgets, 
	#header-top-bar-right .header-search-controls,
	#header-top-bar-right .header-cart-controls,
	#header-top-bar-right .menu-controls{
		margin-right: 15px;
	}
	#header-top-bar-left,
	#header-top-bar-right{
		float: none;
		text-align: center;
		width: 100%;
		/*padding: 10px 0px !important;*/
	}
	#header-top-bar-wrap{
		padding: 13px 0px !important;
	}	
	#header-top-bar-wrap #header-top-bar-left{
		padding: 0px 0px 5px 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-right{
		padding: 5px 0px 0px 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-left:last-child{
		padding-bottom: 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-right:first-child{
		padding-top: 0px !important;
	}
	#footer-wrap{
		padding:10px 0;
	}
	#footer.layout-border{
		position: static;
		bottom: auto;
		margin-left: 0px;
		margin-right: 0px; 
	}
	#footer-wrap .footer-left-area,
	#footer-wrap .footer-center-area,
	#footer-wrap .footer-right-area{
		position: static;
		float: left;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		height: auto;
		line-height: 30px;
	}
	.footer-content-inner-left,
	.footer-content-inner-right,
	.footer-content-inner-center{
		margin-top: 15px;
	}
	#content.page-split-screen-left,
	#content.page-split-screen-right{
		margin-left: 0px;
		width: 100%;
	}
	.left-sliding #content.page-split-screen-left,
	.left-sliding #content.page-split-screen-right {
    	margin-left: 0px;
    	width: 100%;
  	}
	.page-template-page-splitscreen-left .header-hero-section,
	.page-template-page-splitscreen-right .header-hero-section{
		position: static;
		width: 100% !important;
	}
	#main.layout-border,
	#main.layout-border.layout-border-header-top {
		padding: 0px;
	}
	.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right.opened, 
	.be-themes-layout-layout-border .sb-slidebar.sb-right.opened,
	body.be-themes-layout-layout-border-header-top.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate, 
	body.be-themes-layout-layout-border.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
		right: 0px;
	}
	body.be-themes-layout-layout-border-header-top.single-page-version .single-page-nav-wrap,
	body.be-themes-layout-layout-border.single-page-version .single-page-nav-wrap {
		right: 35px;
	}
	body.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right, 
	body.be-themes-layout-layout-border .sb-slidebar.sb-right {
		right: -280px;
	}

    .portfolio-sliders .gallery_content {
        position: relative;
        width: 100%;
        right: 0px;
        box-shadow: none !important;
    }
    .portfolio-sliders .gallery_content {
        height: auto !important;
        max-height: none !important;
    }
    .portfolio-sliders .gallery_content_area_wrap {
        padding: 20px !important;
    }
    .portfolio-sliders .gallery-all-container .carousel_bar_area{
        display: none; 
    }
    .portfolio-sliders .gallery-info-box-wrap #portfolio-title-nav-bottom-wrap {
        right: 0px;
        text-align: center;
        width: 100%;
        position: static;
    }
    .portfolio-sliders .gallery-info-box-wrap #portfolio-title-nav-bottom-wrap ul {
        float: none;
        display: inline-block;
        margin-bottom: 30px;
    }
    .portfolio-sliders .gallery_content {
        background: transparent !important;
    }
    .portfolio-sliders .portfolio-title-nav-bottom {
		display: none !important;
	}
	.gallery_content_slide{
		width: auto;
	    margin-bottom: 30px;
	}
	.gallery_scrollable_content,
	.gallery_content_slide .simplebar-content {
		position: static;
	}

}